/* li.new_comment {
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: absolute;
    left: 0 !important;
    top: 0;
}

.info_relative {
    position: relative;
    overflow-y: visible;
} */

.before-info {
    position: relative;
}

.before-info:before {
    content: url("../png/icon_info.png");
    position: absolute;
    left: 15px;
}

a.before-info:before,
button.before-info:before {
    left: -30px;
    margin: auto;
    bottom: 0;
}

a.list-item.before-info:before {
    bottom: auto;
}