:root {
    --table_width: 1000px;
}

.table_button {
    position: absolute;
    top: -20px;
    right: 0px;
    padding: 0;
    margin: 0;
    background: none;
    border: none;
}

.table_excel_save_button {
    position: absolute;
    top: -20px;
    left: 0px;
    padding: 0;
    margin: 0;
    background: none;
    border: none;
}

.table_button:active img,
.table_excel_save_button:active img {
    transform: scale(1.2);
}

.show_table_div {
    overflow: visible;
}

.show_table_div:before {
    content: '';
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    z-index: 9999;
}

.table_fixed {
    z-index: 99999;
    position: relative;
    width: 100% !important;
    max-width: none !important;
    /* border: 1px solid var(--darkula); */
}