{% extends 'teacherapp/lesson_list.html' %}

{% load static %}

{% load django_bootstrap_breadcrumbs %}

{% block style %}

    {{ block.super }}

    <!-- Import model styles -->

	<link rel="stylesheet" type="text/css" href="{% static 'css/model.css' %}">

{% endblock style %}

{% block breadcrumbs %}

	{{ block.super }}
    
    {% breadcrumb lesson.date|date:"d.m.Y" lesson.get_absolute_url %}

{% endblock %}

{% block content %}

    <div class="row_div">

        <div class="document_title">
            
            <h3>
                
                Информация о занятии:

            </h3>

        </div>

    </div>

    {% include 'teacherapp/includes/form-messages_errors.html' %}

    <form method="post" action="{{auditorylessons.get_absolute_url}}">

        {% include 'teacherapp/includes/form-table.html' %}

        {% block attendance_block %}

        {% endblock attendance_block %}

        <div class="row_div flex_div flex_div_vertical">

            <div class="flex_div flex_horizontal_align">

                <button type="submit" class="btn sircle_btn little_button">Сохранить данные</button>

                <a data-iframe="delete_iframe" class="btn sircle_btn btn_secondary btn_delete little_button">
                    
                    Удалить занятие

                </a>

            </div>

            <a href="{% url 'teacherapp_lesson_attendance_survey_url' schedule.id lesson.id %}" class="btn sircle_btn btn_secondary little_button">
            
                Опрос посещаемости
            
            </a>

            <a href="{% url 'teacherapp_lesson_student_attendance_url' schedule.id lesson.id %}" class="btn sircle_btn btn_secondary little_button">
            
                Посещаемость
            
            </a>

        </div>

    </form>

    <div id="delete_iframe" class="iframe iframe-delete display_none">

        <form class="form_delete" action="{{lesson.get_delete_url}}" method="post">

            {% csrf_token %}

            <div class="delete_title">
                    
                <h4>
                    
                    Вы уверены что хотите удалить занятие по дисциплине "{{lesson.schedule.discipline}}" от {{lesson.date|date:"d.m.Y"}}?

                </h4>

            </div>
            
            <div class="iframe-row">

                <button type="submit" class="btn btn_delete btn_delete_primary little_button">Удалить</button>

            </div>
            
            <div class="iframe-row">
                
                <a class="btn btn_secondary little_button btn_cancel iframe-element-close">Не удалять</a>

            </div>

        </form>

        <button class="iframe-btn-close ifame-close iframe-element-close"></button>

    </div>

{% endblock content %}

{% block javascript %}

    <!-- Import script toggle button -->

	<script type="text/javascript" src="{% static 'js/toggle_button.js' %}"></script>

    <!-- Import script close message -->

	<script type="text/javascript" src="{% static 'js/close_message.js' %}"></script>

    <!-- Import script model window -->

	<script type="text/javascript" src="{% static 'js/model.js' %}"></script>

{% endblock javascript %}